fastapi
########################################
# Core dependencies
fastapi
uvicorn
python-dotenv>=1.0.1
pytest

# Data & Time
dateparser

# NLP and ML dependencies
nltk>=3.8.1
scikit-learn
pandas
rake_nltk
# transformers
# torch

# Google API dependencies
google-generativeai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gdown

# Database & Auth
pymongo[srv]==3.12
clerk-backend-api  # Specify the version to ensure consistency

moviepy==1.0.3